<!DOCTYPE html>
<html ng-app="pokedex">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="reset.css">

</head>

<body ng-controller='pokeCtrl'>
    <header>
        <h1>POKEMON</h1>
    </header>
    <section class="pokedex">
        <div class="search">
            <h2>Search Pokemon</h2>
            <br>
            <form ng-submit="getPokemon(number)">
                <input type="text" placeholder="Search pokemon" ng-model='number'>
            </form>
        </div>
        <div class="pokedex-pic">
            <div class="pokedex-left-screen">
                <div ng-model="pic" ng-hide="defaultHide"><img ng-hide="defaultHide" class="poke-pic" src="{{pokePic}}" alt=""></div>
                <h3 class="poke-name">{{pokeName}}</h3>
            </div>
            <div class="pokedex-right-screen">
              <ul>
                <li>Type: {{pokeType}}</li>
              </ul>
            </div>
        </div>


    </section>

    <footer></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="./js/app.js"></script>
<script src="./js/pokeCtrl.js"></script>
<script src="./js/pokeServ.js"></script>

</html>
