@import url(https://fonts.googleapis.com/css?family=Arvo);

header {
  height: 20vh;
  background-color: #fb0505;
}
header h1 {
  font-size: 60px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
}
.search {
  text-align: center;
}
.pokedex {
  height: 100vh;
  margin: 20px;
}
.pokedex-pic {
  height: 90vh;
  width: 70%;
  margin: 20px auto 0px auto;
  border-radius: 25px;
  background: url(./img/Pokedex.png) no-repeat;

}
footer {
  height: 20vh;
  background-color: #fb0505;
}

.poke-pic {
  /*z-index:10;*/
  width: 250px;
  height: 250px;
  margin-left:30px;
  /*margin-top: 150px;*/
  border: none;
  /*justify-content: center;*/
  float:left;
  animation: fadein 2s;
}

.pokedex-left-screen {
  /*display:flex;*/
  margin-left:30px;
  padding-top: 150px;
  height: 490px;
  width: 330px;
  float:left;
}

.pokedex-right-screen {
  height: 375px;
  width: 300px;
  float:right;
  margin-right:130px;
  margin-top:160px
}

.poke-text {
  /*z-index:10;*/
  width: 100%;
  height: 200px;
  text-align:center;
  border: none;
  font-family: "Arvo"
}

.poke-name {
  /*margin-left: 175px;*/
  font-family: "Arvo";
  font-size: 24px;
  text-align:center;
  /*justify-content:space-around;*/
}
